version: '3.8'

volumes:
  postgres_data: {}
  app_data: {}

services:
  app:
    build:
      context: .
    depends_on:
      - db
    ports:
      - "${APP_PORT:-8080}:8080"
    volumes:
      - .:/app
    env_file:
      - .env
    restart: "unless-stopped"
  
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespw
      POSTGRES_DB: postgres
    ports:
      - "49153:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data